@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Global CSS Variables */
:root {
  /* Colors */
  --primary-color: #03a9f3;
  --secondary-color: #efd000;
  --background-color: #f0f4f9;
  --text-color: #fff;

  /* Fonts */
  --main-font: "Rubik";
  --heading-font: "Rubik";

  /* Spacing */
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;

  /* Layout */
  --container-width: 100%;
  --container-height: 600px;
}

/* Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  /* background-color: var(--background-color); */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  /*color: var(--primary-color);*/
  color: #000;
  margin-top: var(--padding-medium);
  margin-bottom: var(--padding-medium);
}

#banner {
  width: 100%;
}

.container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--background-color);
  margin: 0 auto;
  padding: var(--padding-large);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.arabic {
  text-align: right;
}

.arabic ul {
  direction: rtl; /* Set text direction to right-to-left */
}

.custom-button {
  padding: var(--padding-medium) var(--padding-large);
  font-size: 16px; /* font size */
  font-weight: 600; /* Set the font weight */
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
  /*border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
