.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, each taking up 50% */
  gap: 10px;
  justify-items: center; /* horizontally */
  align-items: center; /* vertically */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 100%;
  color: #000;
  padding: 20px; /* Add padding */
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1),
    inset 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.grid-item h3 {
  color: var(--primary-color);
}

.info ul {
  margin-top: 0; /* Remove default margin from the list */
  padding-left: 20px; /* Add padding to align text with the heading */
}

.info ul li {
  list-style-type: none; /* Remove default list bullet */
  margin-bottom: 5px; /* Add spacing between list items */
}

.container img {
  max-height: 450px;
}

.container h1 {
  font-size: 60px;
}

/* Cards */
.card-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  color: #000;
  aspect-ratio: 5/7;
  padding: 20px; /* Add padding */
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1),
    inset 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.card h3 {
  color: var(--primary-color);
}

/* Swiper */
.swiper {
  width: 100%;
  height: 80%;
  color: #000;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1),
    inset 4px 4px 4px rgba(0, 0, 0, 0.05);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.swiper-slide img {
  max-height: 50%;
  border-radius: 10%;
  /*border: 2px solid var(--primary-color);*/
}
